<footer class="footer">
  <p class="footer-text">
    Copyright &copy; 2012 - 2019. Contributors to
    <a href="https://github.com/h5bp/Front-end-Developer-Interview-Questions/blob/master/CONTRIBUTORS.md">Front-end-Developer-Interview-Questions.</a><br>
    Curious about the project? <a href="{{ '/about/' | url }}">Read more about here</a>.
  </p>
</footer>
