<nav class="nav">
  <ul class="navigation" id="navigation">
    <li class="navigation-item-emoji navigation-item-home"><a class="navigation-anchor" href="{{ '/' | url }}" title="Home"><em>★</em><span>Front-end Developer Interview Questions</span></a></li>
    <li class="navigation-item-emoji navigation-item-translations"><a class="navigation-anchor" href="{{ '/translations' | url }}" title="Translations"><em>🌐</em><span>Translations</span></a></li>
    <li class="navigation-item navigation-questions-label"><button class="navigation-toggle" id="navigation-toggle">Questions:</button></li>
    <li class="navigation-item navigation-questions">
      <ul class="navigation navigation-questions-list">
        {% for entry in questions.all %}
          {% if not entry.external %}
          <li class="navigation-item"><a class="navigation-anchor navigation-questions-anchor{{" current" if entry.url == page.url else "" }}" href="{{ entry.url | url }}" title="{{ entry.title }}">{{ entry.abbreviation }}</a></li>
          {% else %}
          <li class="navigation-item"><a rel="external noreferrer noopener" target="_blank" class="navigation-anchor navigation-questions-anchor" href="{{ entry.url }}" title="{{ entry.title }} (external link)">{{ entry.abbreviation }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
