* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: var(--color-primary);
}

::selection {
  background: var(--color-primary);
  color: var(--background-default);
}

::-moz-selection {
  background: var(--color-primary);
  color: var(--background-default);
}

