h1,
h2,
h3,
h4 {
    color: #ffa000;
}

a {
    color: #ffa000;
}

.button {
    border: 1px solid #ffa000;
    color: #ffa000;
}

.button:hover {
    border: 1px solid #ffa000;
    background: #ffa000;
}


/* header */

.fixedHeaderContainer {
    background: #212121;
}


.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
    background: #ffa000;
}


/* content */

.mainContainer:not(.blogContainer) .wrapper .post {
    padding: 40px 20px;
}

nav.toc .toggleNav ul li a:hover,
nav.toc .toggleNav ul li a:focus,
nav.toc .toggleNav ul li a.navItemActive {
    color: #ffa000;
}

.container .wrapper h2,
.productShowcaseSection h2 {
    color: #ffa000;
}

pre code {
    border-left: 4px solid #212121;
}

.darkBackground {
    background: #212121;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
    background: #212121;
}

.mainContainer .wrapper ul li {
    margin: 0;
    position: relative;
    font-weight: 300;
    padding-left: 25px;
    display: table;
}

.mainContainer .wrapper ul li:before {
    content: '';
    height: .6em;
    width: .6em;
    border-radius: 3px;
    background: #212121;
    display: block;
    font-size: inherit;
    position: absolute;
    transform: rotate(90deg);
    top: .6em;
    left: 0;
}


/* footer */

footer.nav-footer {
    background: #212121;
}


/* media queries */

@media only screen and (min-width: 360px) and (max-width: 736px) {
    .navigationSlider .slidingNav ul {
        background: #ffa000;
    }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}
