---
title: Front-end Developer Interview Questions
permalink: /index.html
rtl: false
---
{% extends 'layouts/default.njk' %}

{% block pageTop %}
  <main class="header">
    <iframe title="GitHub stars for Front-end Job Interview Questions" src="https://ghbtns.com/github-btn.html?user=h5bp&repo=Front-end-Developer-Interview-Questions&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe><br>
    <h1 class="header-big-title gradient1">{{ title }}</h1>
    <p class="header-big-description">
      A list of helpful front-end related questions you can use to interview potential candidates, test yourself or completely ignore. <a href="{{ '/about/' | url }}">Read more about it here</a>. Better in your language? See one of our <a href="{{ '/translations/' | url }}">translations</a>.
    </p>
    <p class="header-description">
      Since this project begun, thousands of questions were added by an amazing group of people, and translated to more than 30 different languages. <b>Want to contribute?</b> See our <a href="https://github.com/h5bp/Front-end-Developer-Interview-Questions/blob/master/.github/CONTRIBUTING.md" target="_blank" rel="noreferrer noopener">contribute</a> guide.
    </p>
  </main>
{% endblock %}
{% block main %}{% endblock %}
